* {
    box-sizing: border-box;
}

ul, h2, p {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-size: 14px;
    width: 960px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    color: #575656;
}

.main-header {
    padding: 0 10px;
}

.top-menu-list {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
    line-height: 40px;
}

.top-menu-list li {
    display: inline-block;
}

.top-menu-list a {
    font-size: 12px;
    text-decoration: none;
    margin-left: 54px;
    color: #575656;
}

.main-nav {
    height: 37px;
    margin-bottom: 10px;
}

.main-menu-list {
    float: left;
    width: 70%;
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 35px;
}

.main-menu-list li {
    display: inline-block;
    margin-left: 18px;
}

.main-menu-list li:first-child {
    margin-left: -2px;
}

.main-menu-list a {
    font-size: 12px;
    text-decoration: none;
    color: #2C2C2B;
    text-transform: uppercase;
}

.search {
    width: 30%;
    float: left;
    padding-left: 28px;
}

.search input[type=submit] {
    width: 75px;
    height: 37px;
    background-color: #ef8a80;
    font-size: 11px;
    border: none;
    text-align: center;
    padding: 0;
}

.search input[type=text] {
    width: 178px;
    height: 37px;
    background-color: #e8e5d4;
    border: none;
    float: left;
    font-size: 11px;
    background-image: url('../images/loop.png');
    background-repeat: no-repeat;
    background-position: 10px;
    padding: 0 0 0 37px;
}

.bottom-menu-list {
    padding: 10px;
    margin: 0 0 40px;
    list-style: none;
    background: #5d5d5b;
    height: 45px;
    width: 100%;
}

.bottom-menu-list li {
    display: inline-block;
}

.bottom-menu-list a {
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    padding: 5px 33px 15px 0;
}

.bottom-menu-list li:last-child a {
    color: #ef8a80;
    text-decoration: underline;
}

.main-content {
    padding: 0 10px;
}

.main-content label {
    display: inline-block;
    margin-bottom: 10px;
}

.form-section:after {
    content: '';
    display: block;
    clear: both;
}

.content-section h2 {
    margin-bottom: 32px;
    font-size: 21px;
    font-weight: normal;
}

.content-section p {
    margin-bottom: 40px;
    font-size: 14px;
    font-weight: normal;
}

.voucher, .inputs {
    float: left;
    width: 50%;
}

.voucher {
    padding-left: 10px;
}

.inputs input[type=text] {
    background: #F5F5F5;
    font-size: 13px;
    border: none;
    padding: 10px 7px;
    width: 460px;
    margin-bottom: 30px;
    height: 37px;
}

.voucher select {
    background: #F5F5F5;
    font-size: 14px;
    width: 460px;
    padding: 10px 7px;
    border: none;
    margin-bottom: 30px;
    height: 37px;
    color: #666666;
	background-image: url('../images/rect.png');
    background-repeat: no-repeat;
	background-position: 432px;
	 -webkit-appearance: none;
	 -moz-appearance: none;
	 border-radius: 0px;
}

.message {
    clear: both;
    margin-top: 34px;
}

.message textarea {
    background: #F5F5F5;
    border: none;
    width: 460px;
    height: 134px;
	padding: 13px 10px;
	resize: none;
}

.faq {
    margin-top: 20px;
}

.faq a {
    color: #000000;
}

.send > p {
    margin-bottom: 8px;
}

.send-form {
    margin-top: 2px;
}

.send-form label {
    float: left;
    margin-top: 10px;
}

.send-form .choose {
    margin: 10px 48px 0;
    float: left;
}

.send-form .choose.no-margin {
    margin-left: 0;
    margin-right: 0;
}

.send-form input[type=radio] {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    color: #f3f3f0;
    border: none;
    float: left;
    margin-left: -2px;
    margin-top: 10px;
}

.send-form input[type=text] {
    background: #F5F5F5;
    font-size: 14px;
    border: none;
    padding: 10px 7px;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    float: left;
}

.send-form img {
    margin-left: 8px;
    margin-top: 10px;
}

.buttons {
    text-align: right;
    margin-bottom: 45px;
}

.button {
    display: inline-block;
    height: 37px;
    text-align: center;
    text-decoration: none;
    line-height: 36px;
}

.button-preview {
    width: 98px;
    background: #ef8a80;
    color: #000000;
}

.button-buy {
    width: 170px;
    margin-top: 40px;
    background: black;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.sign-up input[type=submit] {
    width: 75px;
    height: 37px;
    background-color: #ef8a80;
    font-size: 11px;
    font-weight: bold;
    border: none;
    text-align: center;
}

.sign-up input[type=text] {
    width: 220px;
    height: 37px;
    background-color: #e8e5d4;
    border: none;
    float: left;
    font-size: 11px;
    padding: 0 0 0 16px;
}

.sign-up form {
    margin-bottom: 28px;
}

.social-media {
    margin-top: 16px;
}

.social-media img {
    margin-left: 10px;
}

.social-media img:first-child {
    margin-left: 0;
}

.newsletter {
    font-size: 16px;
    float: left;
    width: 35%;
}

.newsletter > p {
    margin-bottom: 25px;
}

.main-links {
    width: 65%;
    float: left;
    margin-bottom: 31px;
}

.main-links ul {
    float: left;
}

.navigation {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    width: 25%;
}

.navigation li:first-child {
    font-size: 16px;
    padding-bottom: 25px;
}

.navigation li {
    padding-bottom: 5px;
}

.navigation a {
    text-decoration: none;
    list-style: none;
    color: #575656;
    font-size: 14px;
}

.service {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    width: 25%;
}

.service li:first-child {
    font-size: 16px;
    padding-bottom: 25px;
}

.service li {
    padding-bottom: 5px;
}

.service a {
    text-decoration: none;
    list-style: none;
    color: #575656;
    font-size: 14px;
}

.company {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    width: 20%;
}

.company li:first-child {
    font-size: 16px;
    padding-bottom: 25px;
}

.company li {
    padding-bottom: 5px;
}

.company a {
    text-decoration: none;
    list-style: none;
    color: #575656;
    font-size: 14px;
}

.contact {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: #575656;
    width: 30%;
}

.contact li:first-child {
    font-size: 16px;
    padding-bottom: 25px;
    color: #575656;
}

.contact li {
    padding-bottom: 5px;
}

.footer {
    clear: both;
    border-top: 1px solid #ebebeb;
    padding-top: 22px;
}

.top-footer {
    padding: 0 10px;
}

.top-footer:after {
    content: '';
    display: block;
    clear: both;
}

.bottom-footer {
    background-color: #f1f1f1;
    width: 100%;
    height: 70px;
    clear: both;
    position: relative;
}

.menu-footer {
    position: relative;
}

.menu-footer li {
    list-style: none;
    display: inline-block;
    padding-left: 60px;
}

.menu-footer li:first-child {
    padding: 25px 10px;
}

.menu-footer li:last-child {
    position: absolute;
    right: 0;
    top: 15px;
}

.menu-footer a {
    color: #000000;
    text-decoration: none;
    font-size: 12px;
}